{% extends 'components/shell.html' %}

{% from 'components/image_link.html' import image_link %}
{% from 'components/card_list.html' import card_list %}
{% from 'components/cards/user.html' import user_card, user_card_header, user_card_skeleton %}

{% block content %}
  <section 
    class="site-section site-section--artists page" id="page"
  >
    <div class="no-posts" id="loading">
      <span class="subtitle">
        Loading creator index... (please wait before searching)
      </span>
    </div>
    <div class="ad-container">
      <iframe style="width:600px;height:50px;border:0;" src="https://go.xxxjmp.com/i?campaignId=15518c270f8ce289b2268fa8d44aed2f8f11d48ef2ce3423889a769cf059694f&creativeId=2c010a4a6b106cfcad2f820d51310bc9ae23b10ac600a05c6dc49f8e9a468e19&modelsCountry=&modelsLanguage=&sourceId=kemono&tag=girls%2Fahegao&targetDomain=&buttonColor=&hideModelNameOnSmallSpots=1&hideTitleOnSmallSpots=1&liveBadgeColor=&showButton=1&showModelName=1&showTitle=0&showLiveBadge=1&isXhDesign=0&userId=264cbbb50205e9a9821f9f5de3203d265034cb1e5b6453a81fd33706d8a579ca&landing=WidgetV4MobileSlider"></iframe>
    </div>
    <form
      autocomplete="off"
      id="search-form"
      class="search-form"
      novalidate="novalidate"
      accept-charset="UTF-8"
    >
      <div>
        <label for="q">Name</label>
        <input
          type="text"
          name="q"
          id="q"
          autocomplete="off"
        >
        <small class="subtitle" style="margin-left: 5px;">Leave blank to list all</small>
      </div>
      <div>
        <label for="service">Service</label>
        <select id="service" name="service">
          <option value="">All</option>
          {% for paysite in g.paysite_list %}
            <option value="{{ paysite }}">
              {{ g.paysites[paysite].title }}
            </option>
          {% else %}
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="sort_by">Sort by</label>
        <select id="sort_by" name="sort_by">
          <option value="indexed" >Date Indexed</option>
          <option value="name">Alphabetical Order</option>
          <option value="service">Service</option>
        </select>
        <select id="order" name="order">
          <option value="desc">Descending</option>
          <option value="asc">Ascending</option>
        </select>
      </div>
    </form>
    {% if props.display %}
      <div style="text-align: center;">
        <h3 id="display-status" class="subtitle">
          Displaying {{ props.display }}
        </h3>
      </div>
    {% endif %}
    {% if results|length %}
      <div class="paginator" id="paginator-top">
        {% include 'components/paginator.html' %}
        <div class="ad-container">
          <script
            id="SCPlayerScript"
            type="text/javascript"
            src="https://creative.xxxjmp.com/widgets/Player/lib.js"
          ></script>
          <div id="player-container-1" style="width:300px;height:250px"></div>
          <script type="text/javascript">
            const player1 = new StripchatPlayer({
            //modelName: '',
              userId: '264cbbb50205e9a9821f9f5de3203d265034cb1e5b6453a81fd33706d8a579ca',
              sourceId: 'kemono',
              campaignId: 'streaming',
              strict: 1,
              tag:'girls/cosplay',
              showModal: 'signup',
              autoplay: 'all',
            });
            player1.mount(document.getElementById('player-container-1')).then((app) => {});
          </script>
        </div>
      </div>
    {% endif %}
    {% call card_list('table') %}
      {{ user_card_header(is_count=true) }}
      {% for user in results %}
        {{ user_card(user, is_count=true) }}
      {% else %}
        <p class="subtitle card-list__item--no-results">
          No artists found for your query.
        </p>
      {% endfor %}
    {% endcall %}
    {% if results|length %}
      <div class="paginator" id="paginator-bottom">
        {% include 'components/paginator.html' %}
        <div class="ad-container">
          <script
            id="SCPlayerScript"
            type="text/javascript"
            src="https://creative.xxxjmp.com/widgets/Player/lib.js"
          ></script>
          <div id="player-container-2" style="width:300px;height:250px"></div>
          <script type="text/javascript">
            const player2 = new StripchatPlayer({
            //modelName: '',
              userId: '264cbbb50205e9a9821f9f5de3203d265034cb1e5b6453a81fd33706d8a579ca',
              sourceId: 'kemono',
              campaignId: 'streaming',
              strict: 1,
              tag:'girls/cosplay',
              showModal: 'signup',
              autoplay: 'all',
            });
            player2.mount(document.getElementById('player-container-2')).then((app) => {});
          </script>
        </div>
      </div>
    {% endif %}
  <section>
{% endblock %}

{% block components %}
  {{ image_link("") }}
  {{ user_card_skeleton() }}
{% endblock components %}
