<ul class="header" style="font-weight: normal;">
  <li><a href="https://github.com/OpenYiff" target="_blank">[Source code]</a></li>
  <li><a href="/dmca">[DMCA]</a></li>
  <li><a href="/support" class="aux-link--support">[Donate]</a></li>
  <li><a href="https://chan.kemono.party/" target="_blank" class="aux-link--board">[Partychan]</a></li>
  <li><a href="https://t.me/kemonowelcome" target="_blank" class="aux-link--telegram">[Telegram]</a></li>
  <li><a href="https://theporndude.com/" target="_blank" rel="nofollow" class="aux-link--tpd">[ThePornDude]</a></li>
</ul>